<FIELDSET><LEGEND><h2 id="signin"><label><%= t('labels.log_in')%></h2></label></LEGEND>
<div id="sbar">
  <div class="attention">
    <h3><font id="registration">Senhor(a) Avaliador(a)</font></h3>
      <p>Para continuar coloque suas credenciais. Se 
          não foi autorizado por favor entre em contato com
          o administrador.
  </div>
</div>

<SECTION class="session">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div class="session">
       <%= f.label :email %>
       <%= f.email_field :email %>
    </div>
    <div class="session">
        <%= f.label :password %>
        <%= f.password_field :password %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div>
        <%= f.check_box :remember_me %> <%= f.label :remember_me, :class=>"small"  %>
    <%-end-%>    
    <%= link_to t('links.forgotten_your_password'), new_password_path(resource_name), :class=>"small"  %>
      </div>
<br></FIELDSET>
<div class="botao_left">
  <span class="luz">
    <%= f.submit t('links.send'), :class=>"botaoVerde", :id=>'id_botao' %>
  </span>
</div>
<div class="botao_left">
  <%= link_to t('links.back'), root_path, :class=>"botaoVerde", :id=>'id_botao' %>
</div>
    
<%- end -%>
</SECTION>
