<FIELDSET><LEGEND><STRONG><h1 id="signin"><label><%= t('labels.log_in')%></h1></label></LEGEND></STRONG>
<BR />


<div id="sbar">
  <div class="attention">
    <h3><font id="registration">Senhor(a) Avaliador(a)</font></h3>
      <p>Para continuar coloque suas credenciais. Se 
          não foi autorizado por favor entre em contato com
          o administrador.
  </div>
</div>

<SECTION class="session">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    
    <div class="control-group">
       <%= f.label :email %>
       <%= f.email_field :email %>
    </div>
    
    <div class="control-group">
        <%= f.label :password %>
        <%= f.password_field :password %>
    </div>

    <div class="control-group">
      <div class="controls">
        <label <label class="checkbox">
          <% if devise_mapping.rememberable? -%>
            <%= f.check_box :remember_me %><%= label_tag t('activerecord.attributes.avaliador.remember_me') %>
          <%-end-%>
        </label>
      </div>
    </div>
    <%= link_to t('links.forgotten_your_password'), new_password_path(resource_name) %>
    <br /><br />
    </FIELDSET>
    <br /><br />

    <div class="botao_left">
      <%= f.submit t('links.send'), :class=>"btn btn-success btn-large", :id=>'id_botao' %>
    </div>

    <div class="botao_left">
        <%= link_to t('links.back'), root_path, :class=>"btn btn-success btn-large", :id=>'id_botao' %>
    </div>
<%- end -%>
</SECTION>
