<FIELDSET><LEGEND><STRONG><h1 id="signin"><label><%= t('sessions.signin') %></h1></label></LEGEND></STRONG>
<BR />

<div id="sbar">
  <div class="attention">
    <h3><font id="registration"><%= t('sessions.students.title') %></h3></font>
		<p>
			<%= t('sessions.students.message') %>
			<%= link_to t('sessions.students.registration'), new_aluno_registration_path, :class=>"sidebar_button RegistrationStyle" %>
		</p>
  </div>
</div>

<BR />
<SECTION class="session">
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

		<div class="control-group">
			   <%= f.label :email %>
			   <%= f.email_field :email %>
		</div>

		<div class="control-group">
			<%= f.label :password %>
			<%= f.password_field :password %>
		</div>

		<div class="control-group">
      <div class="controls">
      	<label <label class="checkbox">
      		<% if devise_mapping.rememberable? -%>
						<%= f.check_box :remember_me %><%= label_tag t('activerecord.attributes.aluno.remember_me') %>
					<%-end-%>
				</label>
      </div>
  	</div>
  	<%= link_to t('links.forgotten_your_password'), new_aluno_password_path(resource_name) %>
		<br /><br />
		</FIELDSET>
		<br /><br />

		<div class="botao_left">
			<%= f.submit t('links.send'), :class=>"btn btn-success btn-large", :id=>'id_botao' %>
		</div>
		
		<div class="botao_left">
		  <%= link_to t('links.back'), root_path, :class=>"btn btn-success btn-large", :id=>'id_botao' %>
		</div>
<%- end -%>
</SECTION>