<% if @avaliador.errors.any? %>
    <div id="error_explanation">
      <%= t 'general.form_error' %>
    </div>
<% end %>
<FIELDSET>
  <LEGEND><h1><label><font size="5" color="red">*</font>&nbsp<%= t('form_messages.requiredfields')%></label></h1></LEGEND>

  <%= form_for(@avaliador) do |f| %>
      
      <div class="control-group">
        <%= f.label :nome %>
        <%= f.text_field :nome %>
        <%= error_tag @avaliador, :nome %>
      </div>
      
      <div class="control-group">
        <%= f.label :matricula %>
        <%= f.text_field :matricula %>
        <%= error_tag @avaliador, :matricula %>
      </div><br />

      <div class="control-group">
        <%= f.label :titulacao %>
        <%= f.text_field :titulacao %>
        <%= error_tag @avaliador, :titulacao %>
      </div>
    
      <div class="control-group">
          <%= f.label :sexo %>
          <div class="controls">
            <DIV class="radio_component">
              <label class="radio">
                <%= f.radio_button :sexo, t('labels._masc') %><%= label_tag t('labels._masc') %>
              </label>

              <label class="radio">
                <%= f.radio_button :sexo, t('labels._feme') %><%= label_tag t('labels._feme') %>
              </label>
              <%= error_tag @avaliador, :sexo %>
            </DIV>
          </div>
      </div>
      
      <div class="control-group">
          <%= f.label :email %>
          <%= f.email_field :email, :placeholder => "example@example.com" %>
          <%= error_tag @avaliador, :email %>
      </div>

      <div class="control-group">
        <%= f.label :password %>
        <%= f.password_field :password, :placeholder => t('form_messages.password'), :size=>"33" %>
        <%= error_tag @avaliador, :password %>
      </div>
    <BR /><BR /><BR /><BR />
    </FIELDSET>
    <div class="botao_left">
        <%= f.submit t('links.send'),:class=>"btn btn-success btn-large", :id=>'id_botao' %>
    </div>
    <div class="botao_left">
      <%= link_to t('links.back'), avaliadores_index_path, :class=>"btn btn-success btn-large", :id=>'id_botao' %>
    </div>
  <% end %>
