<BR /><BR /><BR /><BR />
<div class="button">
<fieldset class='toplevel'>
    <legend><strong><%= label_tag t('.signed_in') %></legend></strong>
      <div id="facemenu">
        <ul> 
          <li>
            <div class="retrato">
              <center>
                <%= image_tag current_avaliador.image %>
              </center>
            </div>
            <ul> 
              	<li>
                  <%= link_to t('.ProfileImage'),selecionar_imagem_avaliador_path(current_avaliador.id)%>
                </li>
				        <li>
                  <%= link_to t('.RemoveProfileImage'),remover_imagem_avaliador_path(current_avaliador.id) %>
                </li>

                <li>
                  <%= link_to t('.changepassword'), alter_avaliador_password_path(current_avaliador.id) %>
                </li>
            </ul> 
          </li>
        </ul>
      </div>
      <div class="loged_in">
        <%= label_tag :nome%> <%= current_avaliador.nome %><br />
		<%= label_tag :titulacao%> <%= current_avaliador.titulacao %><br />
		<%= label_tag :matricula%> <%= current_avaliador.matricula %>
		</div>
		<%= link_to t('.logout'), avaliador_session_out_path, :method => :get, :class =>"button" %>
</fieldset>
</div>
<BR /><BR /> 