<FIELDSET>
    <LEGEND><H1><label><%= t('avaliadores.profileimage.edit') %></label></H1></LEGEND>
<DIV id="localization">

<%= form_for(@avaliador, :url=>{:action=>'saveimage'}, :html => { :multipart => true }) do |l| %>
     <% if @avaliador.errors.any? %>
        <div id="error_explanation">
          <%= t 'general.form_error' %>
        </div>
    <% end %>

    <div class="field">
       <b><%= l.label t('avaliadores.profileimage.changeImage') %></b>
       <i id="blue" class="small"><%= t('avaliadores.profileimage.readmecarefully') %></i>
       <br>
       <%= l.file_field :image %><BR /></b>
       <%= error_tag @avaliador, :image %>
    </div>
  
    <br>
    <br></FIELDSET>
    <div class="botao_left">
        <span class="luz"><%= l.submit t('avaliadores.profileimage.send'), :class=>"botaoVerde", :id=>'id_botao' %></span>
    </div>
    
    <div class="botao_left">
      <%= link_to t('links.back'), avaliadores_index_path, :class=>"botaoVerde", :id=>'id_botao' %>
    </div>
<%- end -%>


