<FIELDSET>
    <LEGEND><H1><label><%= t('avaliadores.mypassword.edit') %></label></H1></LEGEND>
<DIV id="localization">

<%= form_for(@avaliador, :url=>{:action=>'updatepassword'}) do |f| %>
     <% if @avaliador.errors.any? %>
        <div id="error_explanation">
          <%= t 'general.form_error' %>
        </div>
    <% end %>

    <div class="field">
        <%= f.label :password %><br />
        <i id="blue" class="small"><%= t('avaliadores.profileimage.readmecarefully') %></i><BR />
        <%= f.password_field :password %>
        <%= error_tag @avaliador, :password %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
      <%= error_tag @avaliador, :password_confirmation %>
    </div>

    <div class="field">
      <%= f.label :current_password %><br />
      <%= f.password_field :current_password %>
      <%= error_tag @avaliador, :current_password %>
    </div>
  
    <br>
    <br></FIELDSET>
    <div class="botao_left">
        <span class="luz"><%= f.submit t('avaliadores.profileimage.send'), :class=>"botao", :id=>'id_botao' %></span>
    </div>
    
    <div class="botao_left">
      <%= link_to t('links.back'), avaliadores_index_path, :class=>"botao", :id=>'id_botao' %>
    </div>
<%- end -%>


