<FIELDSET>
    <LEGEND><H1><label> Editar Imagem do Perfil </label></H1></LEGEND>
<DIV id="localization">

<%= form_for(@avaliador, :url=>{:action=>'reload'}, :html => { :multipart => true }) do |l| %>
     <% if @avaliador.errors.any? %>
        <div id="error_explanation">
          <%= t 'general.form_error' %>
        </div>
    <% end %>

    <div class="field">
       <b><%= l.label "Imagem:" %></b>
       <i id="blue" class="small">(Deixe em branco se não quiser alterar a sua imagem!)</i>
       <br>
       <%= l.file_field :image %><BR /></b>
       <%= error_tag @avaliador, :image %>
    </div>
  
    <br>
    <br></FIELDSET>
    <div class="botao_left">
        <span class="luz"><%= l.submit "Enviar", :class=>"botao", :id=>'id_botao' %></span>
    </div>
    
    <div class="botao_left">
        <p>
        <button type="button" class="botao", id='id_botao2' onclick="JavaScript:index()" >
            <%= link_to t('links.back'), avaliadores_index_path %>
        </button>
    </div>
<%- end -%>


