<BR />

<% if @avaliador.errors.any? %>
  <div id="error_explanation">
    <%= t 'generaf.form_error' %>
  </div>
<% end %>
<FIELDSET>
<LEGEND><h1><%= label_tag(t('.title')) %></h1></LEGEND>

<%= form_for(@avaliador, :url=>{:action=>'update_status'}) do |f| %>
  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome,:readonly=>:false %>
    <%= error_tag @avaliador, :nome %>
  </div>
  
  <div class="field">
    <%= f.label :matricula %><br />
    <%= f.text_field :matricula,:readonly=>:false %>
    <%= error_tag @avaliador, :matricula %>
  </div>
  
  <div class="field">
    <%= f.label :titulacao %><br />
     <%= f.text_field :titulacao,:readonly=>:false %>
    <%= error_tag @avaliador, :titulacao %>
  </div>
  
  <div class="field">
    <%= f.label :admin %><br />
    <DIV class="radio_component">
      <%= f.radio_button :admin, 1 %><label id="ident">&nbsp<%= t('labels._yes')%></label>
      <%= f.radio_button :admin, 0 %><label id="ident">&nbsp<%= t('labels._no')%></label>
    </DIV>
  </div>

  <div class="field">
    <%= f.label :status %><br />
    <DIV class="radio_component">
      <%= f.radio_button :status, 1 %><label id="ident">&nbsp<%= t('labels._on')%></label>
      <%= f.radio_button :status, 0 %><label id="ident">&nbsp<%= t('labels._off')%></label>
    </DIV>
  </div>
  <br /></FIELDSET>
  
  <div class="botao_left">
      <%= f.submit t('links.send'), :class=>"botaoVerde", :id=>'id_botao' %>
  </div>
  <div class="botao_left">
    <%= link_to t('links.back'), total_avaliadores_path, :class=>"botaoVerde", :id=>'id_botao' %>
  </div>
<% end %>