<section>
<div id="MyAtividades"><table id="home" class="indexTable" summary="Atividades"><caption><%= t('activerecord.model.atividade') %></caption>
    <thead >
    <tr>
        <th><%= t('activerecord.attributes.atividade.title') %></th>
        <th><%= t('activerecord.attributes.atividade.location') %></th>
        <th><%= t('activerecord.attributes.atividade.horasganhas') %></th>
        <th><%= t('activerecord.attributes.atividade.horas_aceitas') %></th>
        <th><%= t('activerecord.attributes.atividade.comprovante') %></th>
        <th><%= t('activerecord.attributes.atividade.view_comprovante') %></th>
        <th><%= t('views.list_activities.evaluated') %></th>
        <th><%= t('views.list_activities.evaluated_by') %></th>
        <th><%= t('views.list_activities.explanation') %></th>
        <th><%= t('views.list_activities.edit') %></th>
        <th><%= t('views.list_activities.destroy') %></th>
    </tr>
    </thead>
    <tbody id="home">
        <% for atividade in atividades %>
            <tr id="home">
            <th><center><%= atividade.title %></center></th>
            <td><center><%= atividade.location %></center></td>
            <td><center><%= atividade.horasganhas %></center></td>
            <% if atividade.horas_aceitas.nil? %>
                <td><center><%= t('alunos.atividades.notEvaluated')%></center></td>
            <% else %>
                <td><center><%= atividade.horas_aceitas %></center></td>
            <% end %>
            <td>
              <center>
                <%= link_to "#{image_tag("fallback/pdf.png",:width=>"60",:height=>"50",:alt=>"Ver Comprovante")}".html_safe, comprovante_file_path(atividade.id)%>
              </center>
            </td>
            
            <% if atividade.comprovante.path.nil? %>
              <center><TD><%= t('messages.without_receipt')%></TD></center>
            <% else %>
              <td>
                <center>
                  <a href = "<%= atividade.comprovante %>" alt="Anexar Comprovante">              
                    <%= image_tag("fallback/pdf-icon.png", :width=>"60",:height=>"50", :alt=>"Ver Comprovante") %>
                  </a>
                  </center>
                </td>
              </td>
            <%-end-%>
                <td><center><%= yes_or_no?(atividade.avaliada) %></center></td>
                <td>
                    <center>
                        <% if atividade.avaliador.nil?  %>
                            <%= t('messages.without_avaliador')%>
                        <% else %>
                            <%= atividade.avaliador.nome %>
                        <%-end-%>
                    </center>
                </td>

                <td><%= link_to t('links.show'), atividade %></td>
                <td><%= link_to t('links.edit'), edit_atividade_path(atividade) %></td>
                <td>
                   <%= link_to t('links.destroyActivitie'), excluir_atividade_path(atividade), :method => :delete, :confirm => t('messages.areyousure')  %>
                </td>
             </tr>

    <%- end -%>
    </tbody>
</table>
<table id="bottom" summary="Atividades">
    <CAPTION>
        <%= current_aluno.contar_horas_aceitas(current_aluno.id) %>
   </CAPTION>
</table>
</div> 
<br />
<div class="flickr_pagination pagination">
    <div class="page_info">
        <%= will_paginate atividades, :previous_label => "&laquo; Anterior", :next_label => "Próxima &raquo;", :container => false%>
    </div><br />
</div>
</section>