<FIELDSET>
  <LEGEND>
    <STRONG>
      <H1>
        <label><%= t('alunos.password.edit') %></label>
      </H1>
    </LEGEND>
  </STRONG>
<%= form_for(@aluno, :url=>{:action=>'changepassword'}, :html => { :method => :put }) do |f| %>
     <% if @aluno.errors.any? %>
      <div id="error_explanation">
        <%= t 'general.form_error' %>
      </div>
    <% end %>
    <div class="control-group">
        <%= f.label :password %>
        <i id="blue"><%= t('alunos.password.leave_if_you_dont_wanna_change') %></i><BR />
        <%= f.password_field :password %>
        <%= error_tag @aluno, :password %>
    </div>

    <div class="control-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
      <%= error_tag @aluno, :password_confirmation %>
    </div>

    <div class="control-group">
      <%= f.label :current_password %>
      <%= f.password_field :current_password %>
      <%= error_tag @aluno, :current_password %>
    </div>
  
    <br>
    <br></FIELDSET>
    <div class="botao_left">
        <%= f.submit t('alunos.profileimage.send'), :class=>"btn btn-success btn-large", :id=>'id_botao' %>
    </div>
    
    <div class="botao_left">
      <%= link_to t('links.back'), aluno_index_path,:class=>"btn btn-success btn-large", :id=>'id_botao' %>
    </div>
<%- end -%>