<BR /><BR />
<div class="button">
<FIELDSET>
  <LEGEND><h1><STRONG><label><%= label_tag t('.signed_in') %></label></h1></LEGEND></STRONG>
      <div id="facemenu">
        <ul> 
          <li>
            <div class="retrato">
              <center>
                <%= image_tag current_aluno.image %>
              </center>
            </div>
            <ul> 
              <li>
                <%= link_to t('.ProfileImage'), profile_image_path(current_aluno.id) %>
              </li>
              <li>
                <%= link_to t('.RemoveProfileImage'), default_image_path(current_aluno.id) %>
              </li>
              <li>
                <%= link_to t('.changepassword'), alter_password_information_path(current_aluno.id) %>
              </li>
            </ul> 
          </li>
        </ul>
      </div>
      <div class="loged_in">
        <%= label_tag :nome%>  <%= current_aluno.nome %><br />
        <%= label_tag :curso%> <%= current_aluno.curso %><br />
        <%= label_tag :matricula%> <%= current_aluno.matricula %>
      </div>
    <%= link_to t('.logout'), aluno_session_out_path, :method => :get, :class =>"button" %>
</fieldset>
</div>
<BR /><BR />