<div id="aluno_logado" class="button">
<fieldset>
    <legend ><%= t '.signed_in' %></legend>
      <div id="facemenu">
        <ul> 
          <li>
            <div class="retrato">
              <center>
                <%= image_tag current_aluno.image %>
              </center>
            </div>
            <ul> 
              <li>
                <%= link_to t('.ProfileImage'), profile_image_path(current_aluno.id) %>
              </li>
              <li>
                <%= link_to t('.RemoveProfileImage'), default_image_path(current_aluno.id) %>
              </li>
              <li>
                <%= link_to t('.RemoveProfileImage'), password_path(current_aluno.id) %>
              </li>
            </ul> 
          </li>
        </ul>
      </div>
      <div class="loged_in">
        <%= label_tag :nome%>  <%= current_aluno.nome %><br />
        <%= label_tag :curso%> <%= current_aluno.curso %><br />
        <%= label_tag :matricula%> <%= current_aluno.matricula %>
      </div>
    <%= link_to t('.logout'), aluno_session_out_path, :method => :get, :class =>"button" %>
</fieldset>
</div>
<div id="HomeAtividadesPage">
  <div  height='150px'>
    <% if current_aluno.atividades.empty? %>
      <div id="notice">
        <center><%= t('.without_activities')%><br /><%= link_to t('.new_activitie'), new_atividade_path%></center>
      </div>
    <% else %>
      <div id="listaAtividadesHome">
        <%= render :partial=>'home_atividades', :locals=>{:atividades=>current_aluno.atividades.paginate(:page => params[:page], :per_page=>2)}  %>
      </div>
    <% end %>           
  </div>
</div>
