<div id="my_id" >
 <%= @aluno = current_aluno  %>
</div>


<h1><label><font size="5" color="red">*</font>&nbsp<%= t('form_messages.requiredfields')%></label></h1>

<% if @atividade.errors.any? %>
  <div id="error_explanation">
    <%= t 'general.form_error' %>
  </div>
<% end %>

<FIELDSET>
   <LEGEND>
      <STRONG><label><%= t 'atividades.new.title'%></label></STRONG>
    </LEGEND>
  <%= form_for(@atividade) do |f| %>
    
    <div class="control-group">
      <%= f.hidden_field :aluno_id, :readonly => "true", :value => @aluno.id %>
    </div>

    <div class="control-group">
      <h1>
        <label>
          <%= t('activerecord.attributes.atividade.title') %>
          <font size="5" color="red">*</font>
        </label>
      </h1>
      <%= f.text_field :title %>
      <%= error_tag @atividade, :title %>
    </div>

    <div class="control-group">
      <h1>
        <label>
          <%= t('activerecord.attributes.atividade.location') %>
          <font size="5" color="red">*</font>
        </label>
      </h1>
      <%= f.text_field :location %>
      <%= error_tag @atividade, :location %>
    </div>
    
    <div class="control-group">
      <h1>
        <label>
          <%= t('activerecord.attributes.atividade.modalidade') %>
          <font size="5" color="red">*</font>
        </label>
      </h1>
      <%= f.collection_select(:modalidade_id, Modalidade.all, :id, :title, {:prompt => 'Selecione'}) %>
      <%= error_tag @atividade, :modalidade_id %>
    </div>
    
    <div class="control-group">
      <h1>
        <label>
          <%= t('activerecord.attributes.atividade.horasganhas') %>
          <font size="5" color="red">*</font>
        </label>
      </h1>
      <%= f.text_field :horasganhas %>
      <%= error_tag @atividade, :horasganhas %>
    </div>

    
    <div class="control-group">
      <%= f.label :inicio %>
      <%= f.date_select :inicio, :start_year => 2006, :order=> [:day, :month, :year] %>
    </div>
    
    <div class="control-group">
      <%= f.label :termino %>
      <%= f.date_select :termino, :start_year => 2006, :order => [:day, :month, :year] %>
    </div>
    
    <div class="control-group">
      <%= f.label :comprovante %>
      <%= f.file_field :comprovante %>
      <%= error_tag @atividade, :comprovante %>
    </div>
</FIELDSET>
<BR /><BR /><BR />
<div class="botao_left">
    <%= f.submit t('links.send'),:class=>"btn btn-success btn-large", :id=>'id_botao' %>
</div>

<div class="botao_left">
    <%= link_to t('links.back'), aluno_index_path,:class=>"btn btn-success btn-large", :id=>'id_botao' %>
</div>
<% end %>