<%= form_for(@atividade) do |f| %>
  <% if @atividade.errors.any? %>
    <div id="error_explanation">
      <%= t 'general.form_error' %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= error_tag @atividade, :title %>
  </div><br />
  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
    <%= error_tag @atividade, :location %>
  </div><br />
  <div class="field">
    <%= f.label :modalidade %>
    <%= f.collection_select(:modalidade, Modalidade.all, :title, :title, {:prompt => 'Selecione'}) %>
    <%= error_tag @atividade, :location %>
  </div><br />
  <div class="field">
    <%= f.label :horasganhas %>
    <%= f.text_field :horasganhas %>
    <%= error_tag @atividade, :horasganhas %>
  </div><br />
  <div class="field">
    <%= f.label :inicio %>
    <%= f.date_select :inicio, :start_year => 2006, :order=> [:day, :month, :year] %>
  </div><br />
  <div class="field">
    <%= f.label :termino %>
    <%= f.date_select :termino, :start_year => 2006, :order => [:day, :month, :year] %>
  </div><BR />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>