<%= form_for(@atividade) do |f| %>
  <% if @atividade.errors.any? %>
    <div id="error_explanation">
      <%= t 'general.form_error' %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
    <%= error_tag @atividade, :title %>
  </div>
  <div class="field">
    <%= f.label :horasganhas %><br />
    <%= f.text_field :horasganhas %>
    <%= error_tag @atividade, :horasganhas %>
  </div>
  <div class="field">
    <%= f.label :inicio %><br />
    <%= f.date_select :inicio %>
  </div>
  <div class="field">
    <%= f.label :termino %><br />
    <%= f.date_select :termino %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
