<div id="my_id" >
 <%= @aluno = current_aluno  %>
</div>

<% if @atividade.errors.any? %>
  <div id="error_explanation">
    <%= t 'general.form_error' %>
  </div>
<% end %>

<FIELDSET>
   <LEGEND>
      <STRONG><label><%= t '.title', name: @atividade.title %></label></STRONG>
    </LEGEND>
  <%= form_for(@atividade) do |f| %>
    
    <div class="control-group">
          <%= f.hidden_field :aluno_id, :readonly => "true", :value => @aluno.id %>
    </div>

    <div class="control-group">
      <%= f.label :comprovante %>
      <%= f.file_field :comprovante %><br /><br />
    </div>    
</FIELDSET>
<br /><br />
<div class="botao_left">
    <%= f.submit t('links.send'), :class=>"btn btn-success btn-large", :id=>'id_botao' %>
</div>

<div class="botao_left">
    <%= link_to t('links.back'), aluno_index_path, :class=>"btn btn-success btn-large", :id=>'id_botao' %>
</div>
<% end %>