<h1>Listing atividades</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Horasganhas</th>
    <th>Inicio</th>
    <th>Termino</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @atividades.each do |atividade| %>
  <tr>
    <td><%= atividade.title %></td>
    <td><%= atividade.horasganhas %></td>
    <td><%= atividade.inicio %></td>
    <td><%= atividade.termino %></td>
    <td><%= link_to 'Show', atividade %></td>
    <td><%= link_to 'Edit', edit_atividade_path(atividade) %></td>
    <td><%= link_to 'Destroy', atividade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Atividade', new_atividade_path %>
