<% cursos = ['BSI - Sistemas de Informação'] %>

<strong>
  <p>
    <font size="5" color="red">*</font>
    <label>
      &nbsp <%= t('form_messages.requiredfields')%>
    </label>
  </p>
</strong>
<% if resource.errors.any? %>
  <div id="error_explanation" class="alert">
      <%= t 'general.form_error' %>
  </div>
<% end %>
<FIELDSET><LEGEND><h2><label><%= t('sessions.students.registration')%></label></h2></LEGEND>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name),:html => {:multipart => true}) do |l| %>
    
    

    <%= l.label :nome %><i id="red">*</i><BR />
    <div class="session">
      <%= l.text_field :nome %>
      <%= error_tag @aluno, :nome %>
    </div>

    <div class="field">
        <%= l.label :sexo %>
        <DIV class="radio_component">
              <%= l.radio_button :sexo, t('labels._masc') %>
              <label id="ident">&nbsp<%= t('labels._masc') %></label>
              <%= l.radio_button :sexo, t('labels._feme') %>
              <label id="ident">&nbsp<%= t('labels._feme') %></label>
              <%= error_tag @aluno, :sexo %>
        </DIV>
    </div>

    <%= l.label :matricula %><i id="red">*</i>
    <div class="session">
          <%= l.text_field :matricula %>
          <%= error_tag @aluno, :matricula %>
    </div>

    <div class="field">
       <%= l.label :curso %><BR />
       <%= l.select :curso, options_for_select(cursos) %> 
    </div>

    <div class="field">
       <%= l.label :periodo, :id=>"aperiodo"%><BR />
            <%= l.select :periodo,
                options_for_select(%w{ 1ºperiodo 2ºperiodo 3ºperiodo 4ºperiodo 
                5ºperiodo 6ºperiodo 7ºperiodo 8ºperiodo}) %> 
    </div>

    <%= l.label :email %><i id="red">*</i>
    <div class="session">
        <%= l.email_field :email %>
        <%= error_tag @aluno, :email %>
    </div>

    <%= l.label :password %><i id="red">*</i>
    <div class="session">
        <%= l.password_field :password %>
        <%= error_tag @aluno, :password %>
    </div>

    <%= l.label :password_confirmation %><i id="red">*</i>
    <div class="field">
        <%= l.password_field :password_confirmation %>
        <%= error_tag @aluno, :password_confirmation %>
    </div>
    <br>
    <br></FIELDSET>

    <div class="botao_left">
        <span class="luz"><%= l.submit "Enviar", :class=>"botaoVerde", :id=>'id_botao' %></span>
    </div>

    <div class="botao_left">
        <%= link_to t('links.back'), root_path, :class=>"botaoVerde", :id=>'id_botao' %>
    </div>
<%- end -%>