<strong>
  <p>
    <font size="5" color="red">*</font>
    <label>
      &nbsp <%= t('form_messages.requiredfields')%>
    </label>
  </p>
</strong>
<FIELDSET>
   <LEGEND>
      <label><%= t 'modalidades.new.title'%></label>
    </LEGEND>
  <%= form_for(@modalidade) do |f| %>
    <% if @modalidade.errors.any? %>
      <div id="error_explanation">
        <%= t 'general.form_error' %>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :title %><i id="red">*</i><BR />
      <%= f.text_area:title %>
      <%= error_tag @modalidade, :title %>
    </div><br />
    
</FIELDSET>

<div class="botao_left">
    <%= f.submit "Enviar", :class=>"botao", :id=>'id_botao' %>
</div>

<div class="botao_left">
    <%= link_to t('links.back'), modalidades_index_path, :class=>"botao", :id=>'id_botao' %>
</div>
<% end %>