<strong>
  <p>
    <font size="5" color="red">*</font>
    <label>
      &nbsp <%= t('form_messages.requiredfields')%>
    </label>
  </p>
</strong>
<% if @modalidade.errors.any? %>
  <div id="error_explanation" class="alert">
    <%= t 'general.form_error' %>
  </div>
<% end %>
<FIELDSET>
   <LEGEND>
      <label><%= t 'modalidades.new.title'%></label>
    </LEGEND>
      <%= form_for(@modalidade) do |f| %>
        <%= f.label :title %><i id="red">*</i><BR />
        <div class="field">
          <%= f.text_area:title %>
          <%= error_tag @modalidade, :title %>
        </div><br />
</FIELDSET>

<div class="botao_left">
    <%= f.submit "Enviar", :class=>"botaoVerde", :id=>'id_botao' %>
</div>

<div class="botao_left">
    <%= link_to t('links.back'), modalidades_index_path, :class=>"botaoVerde", :id=>'id_botao' %>
</div>
<% end %>