<div class="flickr_pagination pagination">
  <div class="page_info">
      <%= will_paginate @atividades, :previous_label => "&laquo; Anterior",
           :next_label =>"Próxima &raquo;", :container => false %>
  </div>
</div>
<CENTER>
	<table id="home" class='avaliacoes' summary="Atividades">
    <caption><%= t('avaliacoes.showing_reviews_hanking', :user_name=> @avaliador.nome.capitalize) %></caption>
    <thead>
        <tr>
            <th><%= t('avaliacoes.form.aluno_tag')%></th>
            <th><%= t('avaliacoes.form.activitie_tag')%></th>
            <th><%= t('activerecord.attributes.atividade.modalidade')%></th>
            <th><%= t('activerecord.attributes.atividade.horasganhas')%></th>
            <th><%= t('activerecord.attributes.atividade.horas_aceitas')%></th>
            <th><%= t('activerecord.attributes.atividade.avaliada')%></th>
            <th><%= t('avaliacoes.form.evaluated_by_tag')%></th>
        </tr>
    </thead>
	  <tbody id="home">
	    <% @atividades.each do |atividade| %>
        <tr>
          <td><%= atividade.aluno.nome %></td>
          <td><center><%= atividade.title %></center></td>
          <td><center><%= atividade.modalidade.title %></center></td>
          <td><center><%= atividade.horasganhas %></center></td>
          <td><center><%= atividade.horas_aceitas %></center></td>
          <td><center><%= yes_or_no?(atividade.avaliada) %></center></td>
          <td><center><%= atividade.avaliador.nome %></center></td>
        </tr>
	    <%- end -%>
	  </tbody>
	</table>
<BR /><BR />
<FIELDSET id="oldPage">
  <LEGEND >
    <div class="control-group" align='left'>
      <%= link_to(I18n.t('avaliadores.list_avaliators.new'), new_avaliador_path, :class=>"buttonx") %>
    </div>
  </LEGEND>
  <%= render "avaliadores/list_av", :locals=>{:avaliadores=>@avaliadores}%>
</FIELDSET>
</CENTER>