<FIELDSET>
	<LEGEND>
		<h2 id="signin">
			<STRONG><label><%= t('sessions.sendinformation') %></label></STRONG>
		</h2>
	</LEGEND>
	
	<% if resource.errors.any? %>
	  <div id="error_explanation" class="alert">
	      <%= t 'general.form_error' %>
	  </div>
	<% end %>

	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  	<%= devise_error_messages! %>

  	<div class="session">
			<%= f.label :email %>
			<%= f.email_field :email, :autofocus => true %>
		</div>
		</FIELDSET>
  	<br /><br /><br />
  	<div class="botao_left">
      <%= f.submit t('links.send'), :class=>"btn btn-success btn-large", :id=>'id_botao' %>
    </div>

    <div class="botao_left">
        <%= link_to t('links.back'), new_aluno_session_path, :class=>"btn btn-success btn-large", :id=>'id_botao'%>
    </div>
<%- end -%>