<% if aluno_signed_in? and current_aluno %>
<div id='cssmenu'>
  <ul>
    <li>
      <span>
        <%= link_to t('views.menu.links.home'), aluno_index_path%>
      </span></li>
      <li class='has-sub '>
        <span><a><%= t('alunos.menu.links.activities') %></a></span>
        <ul>
          <li class='has-sub '>
            <li class='has-sub '>
                <span>
                    <%= link_to t('alunos.menu.links.new_activities') , new_atividade_path%>
                </span>
            </li>
            <li class='has-sub '>
                <span>
                    <%= link_to t('alunos.menu.links.list_activities'),listadeatividades_path%>
                </span>
            </li>
          </ul>
      </li>
      <li class='has-sub '>
          <span><%= link_to t('alunos.menu.links.activities_report'), alunoatividades_path %></span>
      </li>
          <li class='has-sub '>
              <span><%= link_to t('views.menu.links.profile'), edit_aluno_registration_path %></span>
          </li>
        </ul>
  </div>
<% elsif avaliador_signed_in? and current_avaliador.admin %>
  <div id='cssmenu'>
    <ul>
      <li>
        <span>
          <%= link_to(t('views.menu.links.home'), avaliadores_index_path) %>
        </span>
      </li>
      <li><span><%= link_to(t('views.menu.links.activities'), atividades_complementares_path)%></span></li>
      <li><span><%= link_to(t('views.menu.links.students'), total_alunos_path)%></span></li>
      <li><span><%= link_to(t('views.menu.links.avaliators'),total_avaliadores_path)%></span></li>
      <li><span><%= link_to(t('views.menu.links.models'),modalidades_index_path)%></span></li>
      <li class='has-sub '><span><%= link_to(t('views.menu.links.pdf_reports'))%></span>
      <ul>
        <li class='has-sub '>
          <span>
              <%= link_to(t('views.menu.links.students'),alunos_pdf_path)%>
          </span>
        </li>
        <li class='has-sub '>
            <span>
                <%= link_to(t('views.menu.links.avaliators'),avaliadores_report_pdf_path)%>
            </span>
        </li>
        <li class='has-sub '>
            <span>
                <%= link_to(t('views.menu.links.activities'),pdf_list_atividades_path)%>
            </span>
        </li>
      </ul>
    </li>
    <li><span><%= link_to(t('views.menu.links.profile'),edit_avaliador_registration_path)%></span></li>
    <li><span>
      <DIV>
        <SPAN style="text-align:right">
          <form class="navbar-search pull-left" id="live-search-form" method="get" action="<%= live_search_alunos_path %>">
            <input type="text" class="search-query" placeholder="Buscar Alunos" id="big-search-box" name="live_search" />
          </form>
        </SPAN>
        <div id="live-search-results"></div>
      </DIV>
    </span></li>
  </ul>
</div>
<% elsif avaliador_signed_in? %>
  <div id='cssmenu'>
      <ul>
          <li><span><%= link_to(t('views.menu.links.home'), avaliadores_index_path) %></span></li>
          <li><span><%= link_to(t('views.menu.links.activities'),appraiser_activities_path)%></span></li>
          <li><span><%= link_to(t('views.menu.links.avaliators'), total_avaliadores_path)%></span></li>
          <li><span><%= link_to(t('views.menu.links.profile'),edit_avaliador_registration_path)%></span></li>
      </ul>
  </div>
<% end %>