<div id='cssHeadermenu' class="headerMenu">
  <% if aluno_signed_in? %>
        <ul> 
        <li>
          <div class="retrato">
            <center>
             <%= image_tag(current_aluno.image, size:'90x90') %>
            </center>
          </div>
          <ul> 
            <li class='header-sub '>
              <span>
                <%= link_to t('uploader.update_image'), profile_image_path(current_aluno.id) %>
              </span>
            </li>
            <li class='header-sub '>
                <span>
                  <%= link_to "Ajuda?" %></span>
            </li> 
            <li>
              <%= link_to(t('alunos.index.logout'), aluno_session_out_path, :method => :get, :class=>"button1 fright p6") %>

            </li> 
          </ul> 
        </li>
        </ul>
    <% elsif avaliador_signed_in? %>
      <ul> 
        <li>
          <div class="retrato">
            <center>
             <%= image_tag(current_avaliador.image, size:'90x90') %>
            </center>
          </div>
          <ul> 
            <li class='header-sub '>
              <span>
                <%= link_to t('uploader.update_image') %>
              </span>
            </li>
            <li class='header-sub '>
                <span>
                  <%= link_to "Ajuda?" %></span>
            </li> 
            <li>
              <%= link_to(t('avaliadores.index.logout'), avaliador_session_out_path, :method => :get, :class=>"button1 fright p6") %>

            </li> 
          </ul> 
        </li>
        </ul>
    <% else %><% end %>
</div>