<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd" >
<html>
	<head>
  		<title><%= yield(:title) || "Atividades - Complementares" %></title>
	  	<%= stylesheet_link_tag    :application, :media => :all %>
	  	<%= javascript_include_tag :application %>
	  	<%= csrf_meta_tags %>
	  	<%= yield(:head) %>
	</head>
<body>
	<!-- container -->
	<div class="container"> 
		<!-- header -->
  	<div class="header">
      <div id="imagelogo">
      	 <%= link_to "#{image_tag("IFFLOGO3.png",:width=>"450",:alt=>"Página do IFF")}".html_safe, "http://iff.edu.br/"%>
      </div>
      	<!-- <div class="headername">
      		<font face="TechFont">I</font><font face="proFont">nformática</font>
      	</div> -->
      	<span class="signin">
	       <%= render 'layouts/header' %>
	    </span>
    </div>

            
    <!-- conteudo principal (Dentro do bloco branco) -->
    <div class="conteudo">
      <%= render 'layouts/current_user' %>
      <!-- main -->
			<% if notice.present? %>
				<div id="notice"><%= notice %></div>
			<% end %>
			<% if alert.present? %>
				<div id="alert"><%= alert %></div>
			<% end %>
			<%= yield %>
			<!-- end of main -->
		</div>
			<!-- /conteudo principal -->
			<!-- footer -->
			<div class="footer">
				<div class="footer-cnt">
					<ul class="ftr-links"><li class="entp"></li></ul>
				</div>
			</div>
			<!-- /footer -->
		</div>
	</body>
</html>